# Compilacion y carpetas de salida
build/
bin/
obj/
x64/
.vs/
out/
CMakeSettings.json
CMakeUserPresets.json
imgui.ini

# Bases de datos y logs locales
*.db
*.db-journal
*.log

# Cache de Python
__pycache__/
*.pyc
*.pyo
*.pyd

# EXCLUSIÓN DE CREDENCIALES Y SCRIPTS DE LA CARPETA API
# Solo mantendremos la estructura de carpetas mediante .gitkeep
API/Mysonda/*.py
API/Mysonda/*.bat
API/Mysonda/*.json
API/Mysonda/*.bak
API/Fabes/*.py
API/Fabes/*.bat
API/MySonda-GO/*.exe
API/MySonda-GO/schema_cache.json
API/MySonda-GO/id_mappings.json
